<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true" cacheResult="true" cacheResultFile="../.phpunit.result.cache">
    <testsuites>
        <testsuite name="GardenIrrigationControl Test Suite">
            <directory>.</directory>
        </testsuite>
    </testsuites>  
</phpunit>